.content {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.smallText {
  font-size: 13px;
  margin-top: 20px;
}

label {
  width: 100%;
}

input {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.065);
}

.formField {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  height: 70px;
  margin-bottom: 20px;
}

.submitButton {
  margin-top: 20px;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer; /* Change cursor to a hand or pointer icon */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions for background and text color */
}

.submitButton:hover {
  background-color: lightgrey;
}
